[Desktop Entry]
Encoding=UTF-8
Name=Now Do This
Type=Service
ServiceTypes=Plasma/Applet
X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Ziling Zhao
X-KDE-PluginInfo-Email=zilingzhao@gmail.com
X-KDE-PluginInfo-Name=nowdothis
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://github.com/zhaoz/nowdothis/tree/master
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
